/* Importation des styles de base de Tailwind */
@tailwind base;
/* Importation des composants de Tailwind */
@tailwind components;
/* Importation des utilitaires de Tailwind */
@tailwind utilities;

/* Définition des polices personnalisées */
@font-face {
  font-family: Poppins;
  src: url("/assets/font/Poppins/Poppins-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("/assets/font/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("/assets/font/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Définition des variables de couleur */
:root {
  --foreground-rgb: rgb(255, 255, 255); /* Couleur du texte */
  --background-start-rgb: 214, 219, 220; /* Dégradé de couleur de fond - début */
  --background-end-rgb: 255, 255, 255; /* Dégradé de couleur de fond - fin */
  --custom-color: #EA516F; /* Couleur personnalisée */
}

/* Styles de base pour le corps de la page */
body {
  background-color: white; /* Couleur de fond de base en blanc */
  color: rgb(var(--foreground-rgb)); /* Couleur de texte */
  font-family: "Poppins", sans-serif; /* Police par défaut */
}

/* Ajustements de la lettre pour les paragraphes et les titres */
p {
  letter-spacing: -1px;
}
h1, h2, h3 {
  letter-spacing: -2px;
}

/* Définition de nouvelles classes utilitaires */
@layer utilities {
  /* Texte ajusté */
  .text-balance {
    text-wrap: balance;
  }
  /* Couleur personnalisée */
  .custom-color {
    color: var(--custom-color);
  }
  /* Couleur de fond personnalisée */
  .bg-custom-color {
    background-color: var(--custom-color);
  }
}
.text-container {
  position: relative;
  z-index: 1; 
}
.search-h1{
  font-size: 3rem;
}

.img-yacht-noir-blanc, .img-bateau-croisiere-mer{
  background: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: bottom;
  background-blend-mode: darken;
}

.img-yacht-noir-blanc::before, .img-bateau-croisiere-mer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 55%, rgba(2, 45,69, 2) 95%);
}

.img-yacht-noir-blanc, .img-bateau-croisiere-mer {
  height: 50vh;
  width: 100vh;
  position: relative;
  overflow: hidden;
  min-height: 50vh;
  min-width: 100vh;
}

.img-yacht-noir-blanc img, .img-bateau-croisiere-mer img {
  width: 100%;
  height: auto;
  display: block;
}

.img-yacht-blanc-eau-calme{
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  min-height: 450px;
}
.img-header {
  background: rgba(2, 45,69, 0.5) url(/assets/images/Bateau-sur-plan-deau.webp);
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.img-plongeur{
  background: rgba(2, 45,69, 0.5) url(/assets/images/Plongeur-dans-l_eau.webp);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  min-height: 450px;
}
.img-bateau-blanc-ocean{
  background: rgba(2, 45,69, 0.5) url(/assets/images/Bateaux-blancs-ocean.webp);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  min-height: 450px;
}
.img-roche-brune-rivage{
  background: rgba(2, 45,69, 0.5) url(/assets/images/Roches-brunes-rivage.webp);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  min-height: 450px;
}
.img-yacht-blanc-eau-calme{
  background-image: url(/assets/images/Yacht-blanc-eaux-calmes.webp);
}
.img-Bateaux-blancs-ocean{
  background: rgba(2, 45,69, 0.5)url(/assets/images/Bateaux-blancs-ocean.webp);
  margin: 25px;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  min-height: 400px;
}
.img-Homme-equitation-bateau-mer{
  background: rgba(2, 45,69, 0.5) url(/assets/images/Homme-equitation-bateau-mer.webp);
  margin: 25px;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  min-height: 400px;
}
.img-Bateau-blanc-et-bleu{
  background:rgba(2, 45,69, 0.5) url(/assets/images/Bateau-blanc-et-bleu.webp);
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.img-bateau-croisiere-mer{
  background-image: url(/assets/images/Bateau-croisiere-mer.webp);
}
.img-yacht-noir-blanc{
  background-image: url(/assets/images/Photo-Yacht-Noir-Blanc.webp);
}
.img-cruise-ship-ocean{
  background: rgba(2, 45,69, 0.5) url(/assets/images/Cruise-ship-ocean.webp);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

.responsive-carousel-bloc-text{
  min-width: 500px;
}
.section-search{
  width:1065px;
}
.color-btn-en{
  background-color: #ffffff2e;
}
.responsive-carousel{
  height: 450px;
  overflow: hidden;
}
.input-text {
  color: black; 
}
.rensponsive-text-bloc-equitation-bateau-mer{
  padding-left: 15%;
}

.survol-btn:hover{
  background: transparent;
  color: white;
  border: 1px solid white;
}
.survol-btn-black:hover{
  background: transparent;
  color: black;
  border: 1px solid black;
}
.survol-btn-footer-contact:hover{
  background-color: #0D6291;
}
.responsive-container-search{
  padding: 0px 20px;
}
.shadow-carousel{
  box-shadow: 20px 20px 40px #0000000D;
}
/* Media query pour les écrans de taille maximale */
@media (max-width: 1440px){
  .section-search{
    width: 82%;
  }
}
@media (max-width: 1024px){

  .responsive-carousel-bloc-text{
    min-width: 100%;
  }
  .responsive-footer-bloc{
    align-items: center;
  }
  .section-search{
    width: 80%;
  }
  .img-header {
    height: 170vh;
}
  .responsive-container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 
  .padding-mobile-bas-de-page{
    padding: 0px;
    padding-top: 10px;
  }
  .responsive-footer{
    display: flex;
   flex-direction: column;
  }
  .responsive-carousel{
  height: auto ;
  flex-direction: column;
 }
}
@media (max-width: 768px) {
  .img-yacht-noir-blanc, .img-bateau-croisiere-mer {
   
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    min-width: 100%;
    margin: 0px;
}
  .search-h1{
    font-size: 2rem;
  }
 
.responsive-image-skew, .responsive-banniere-cruise-ship-ocean, .responsive-homme_equitation-bateau-mer{
  display: flex;
  flex-direction: column;
  padding: 0px;
 
}
.img-Bateaux-blancs-ocean, .img-Homme-equitation-bateau-mer {
  margin: 0px;
margin-top: 10px;
}
.rensponsive-text-bloc-equitation-bateau-mer{
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
@media (max-width: 425px) {
  .size-number{
    font-size: 1.5rem;
  }
.text-mobile{
  font-size: 2.5rem;
}
.logo-mobile{
width: 140px;
}
  .search-h1{
    font-size: 1.5rem;
    margin-top: 50px;
  }

.section-search {
  width: 100%;
}
  .mobile-header-img{
    height: 300px;
  }
  .responsive-align-center{
    text-align: center;
  }
}