@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --custom-color: #EA516F; 

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white; /* Couleur de fond de base en blanc */
  color: rgb(var(--foreground-rgb)); /* Couleur de texte */
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ); /* Dégradé linéaire */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
   /* Couleur personnalisée */
   .custom-color {
    color: var(--custom-color);
  }
  
  /* Couleur de fond personnalisée */
  .bg-custom-color {
    background-color: var(--custom-color);
  }
}

.search-h1{
  font-size: 3rem;
}
.img-header , .img-Bateau-blanc-et-bleu{
  background: rgba(0, 0, 0, 0.3) url(/Bateau-sur-plan-deau.webp);
  height: 93vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  
}
.img-plongeur, .img-bateau-blanc-ocean, .img-roche-brune-rivage,.img-yacht-blanc-eau-calme{
  background-position: center;
  background-size: cover;
  min-height: 450px;
}
.img-Bateaux-blancs-ocean,.img-Homme-equitation-bateau-mer{
  margin: 25px;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}
.img-plongeur{
  background-image: url(/Plongeur-dans-l_eau.webp);
}
.img-bateau-blanc-ocean{
  background-image: url(/Bateaux-blancs-ocean.webp);
}
.img-roche-brune-rivage{
  background-image: url(/Roches-brunes-rivage.webp);
}
.img-yacht-blanc-eau-calme{
  background-image: url(/Yacht-blanc-eaux-calmes.webp);
}
.img-Bateaux-blancs-ocean{
  background-image: url(/Bateaux-blancs-ocean.webp);
}
.img-Homme-equitation-bateau-mer{
  background-image: url(/Homme-equitation-bateau-mer.webp);
}
.img-Bateau-blanc-et-bleu{
  background-image: url(/Bateau-blanc-et-bleu.webp);
}
.img-cruise-ship-ocean{
  background-image: url(/Cruise-ship-ocean.webp);
  background-position: top;
  background-size: cover;
  min-height: 450px;
  
}

.section-search{
  width: 55%;
}
.color-btn-en{
  background-color: #ffffff2e;
}
/* Media query pour les écrans de taille maximale */
@media (max-width: 1440px){
  .section-search{
    width: 60%;
  }
}
@media (max-width: 1024px){
  .section-search{
    width: 80%;
  }
  .img-header {
    height: 170vh;
}
  .responsive-container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 
  .padding-mobile-bas-de-page{
    padding: 10px;
  }
}
@media (max-width: 768px) {
 
  .search-h1{
    font-size: 2rem;
  }
 
.responsive-image-skew, .responsive-banniere-cruise-ship-ocean, .responsive-homme_equitation-bateau-mer{
  display: flex;
  flex-direction: column;
}
}
@media (max-width: 425px) {
.text-mobile{
  font-size: 2.5rem;
}
.logo-mobile{
width: 140px;
}
  .search-h1{
    font-size: 1.5rem;
    margin-top: 50px;
  }

.section-search {
  width: 100%;
}
  .mobile-header-img{
    height: 300px;
  }
}