@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --custom-color: #EA516F; 

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white; /* Couleur de fond de base en blanc */
  color: rgb(var(--foreground-rgb)); /* Couleur de texte */
  
   /* Dégradé linéaire */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
   /* Couleur personnalisée */
   .custom-color {
    color: var(--custom-color);
  }
  
  /* Couleur de fond personnalisée */
  .bg-custom-color {
    background-color: var(--custom-color);
  }
}

.search-h1{
  font-size: 3rem;
}
.img-header , .img-Bateau-blanc-et-bleu{
  background: rgba(0, 0, 0, 0.3) url(/Bateau-sur-plan-deau.webp);
  height: 93vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.img-yacht-noir-blanc, .img-bateau-croisiere-mer{
  background: rgba(0, 0, 0, 0.3);
  height: 45vh;
  width: 145vh;
  background-size: cover;
  background-position: bottom;
  background-blend-mode: darken;
}
.text-container {
  position: relative;
  z-index: 1; /* Assure que le texte est au-dessus de l'image */
}
.img-yacht-noir-blanc::before, .img-bateau-croisiere-mer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.img-yacht-noir-blanc, .img-bateau-croisiere-mer {
  height: 50vh;
  width: 100vh;
  position: relative;
  overflow: hidden;
  min-height: 50vh;
  min-width: 100vh;
}

.img-yacht-noir-blanc img, .img-bateau-croisiere-mer img {
  width: 100%;
  height: auto;
  display: block;
}


.img-plongeur, .img-bateau-blanc-ocean, .img-roche-brune-rivage,.img-yacht-blanc-eau-calme{
  background-position: center;
  background-size: cover;
  min-height: 450px;
}
.img-Bateaux-blancs-ocean,.img-Homme-equitation-bateau-mer{
  margin: 25px;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}
.img-plongeur{
  background-image: url(/Plongeur-dans-l_eau.webp);
}
.img-bateau-blanc-ocean{
  background-image: url(/Bateaux-blancs-ocean.webp);
}
.img-roche-brune-rivage{
  background-image: url(/Roches-brunes-rivage.webp);
}
.img-yacht-blanc-eau-calme{
  background-image: url(/Yacht-blanc-eaux-calmes.webp);
}
.img-Bateaux-blancs-ocean{
  background-image: url(/Bateaux-blancs-ocean.webp);
}
.img-Homme-equitation-bateau-mer{
  background-image: url(/Homme-equitation-bateau-mer.webp);
}
.img-Bateau-blanc-et-bleu{
  background-image: url(/Bateau-blanc-et-bleu.webp);
}
.img-bateau-croisiere-mer{
  background-image: url(/Bateau-croisiere-mer.webp);
}
.img-yacht-noir-blanc{
  background-image: url(/Photo-Yacht-Noir-Blanc.webp);
}
.img-cruise-ship-ocean{
  background: rgba(0, 0, 0, 0.3) url(/Cruise-ship-ocean.webp);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

.responsive-carousel-bloc-text{
  min-width: 500px;
}
.section-search{
  width: 55%;
}
.color-btn-en{
  background-color: #ffffff2e;
}
.responsive-carousel{
  height: 450px;
  overflow: hidden;
}
/* Media query pour les écrans de taille maximale */
@media (max-width: 1440px){
  .section-search{
    width: 60%;
  }
}
@media (max-width: 1024px){

  .responsive-carousel-bloc-text{
    min-width: 100%;
  }
  .responsive-footer-bloc{
    align-items: center;
  }
  .section-search{
    width: 80%;
  }
  .img-header {
    height: 170vh;
}
  .responsive-container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 
  .padding-mobile-bas-de-page{
    padding: 0px;
    padding-top: 10px;
  }
  .responsive-footer{
    display: flex;
   flex-direction: column;
  }
  .responsive-carousel{
  height: auto ;
  flex-direction: column;
 }
}
@media (max-width: 768px) {
  .img-yacht-noir-blanc, .img-bateau-croisiere-mer {
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    min-width: 100%;
    margin: 0px;
}
  .search-h1{
    font-size: 2rem;
  }
 
.responsive-image-skew, .responsive-banniere-cruise-ship-ocean, .responsive-homme_equitation-bateau-mer{
  display: flex;
  flex-direction: column;
  padding: 0px;
 
}
.img-Bateaux-blancs-ocean, .img-Homme-equitation-bateau-mer {
  margin: 0px;
margin-top: 10px;
}
}
@media (max-width: 425px) {
.text-mobile{
  font-size: 2.5rem;
}
.logo-mobile{
width: 140px;
}
  .search-h1{
    font-size: 1.5rem;
    margin-top: 50px;
  }

.section-search {
  width: 100%;
}
  .mobile-header-img{
    height: 300px;
  }
}